<a href="https://colab.research.google.com/github/rebeccaxchu/Real-Property-Assessments/blob/main/loading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# libraries
import pandas as pd
import numpy as np
import json
import requests

ModuleNotFoundError: No module named 'pandas'

In [ ]:
!pip install sodapy
from sodapy import Socrata

Collecting sodapy
  Downloading sodapy-2.2.0-py2.py3-none-any.whl (15 kB)
Requirement already satisfied: requests>=2.28.1 in /usr/local/lib/python3.10/dist-packages (from sodapy) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.28.1->sodapy) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.28.1->sodapy) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.28.1->sodapy) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.28.1->sodapy) (2024.2.2)
Installing collected packages: sodapy
Successfully installed sodapy-2.2.0

In [10]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("opendata.maryland.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(opendata.maryland.gov,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("kb22-is2w", limit=35228)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [11]:
results_df.head()

,land_use_code_mdp_field_lu_desclu_sdat_field_50,new_construction_data_county_assessment_credit_sdat_field_192,parent_account_number_account_number_sdat_field_388,additional_c_a_m_a_data_dwelling_construction_code_mdp_field_strucnst_sdat_field_263,last_activity_date_yyyy_mm_dd_sdat_field_392,base_cycle_data_improvements_value_sdat_field_155,base_cycle_data_preferential_land_value_sdat_field_156,parent_account_number_district_ward_sdat_field_387,special_dates_and_data_inchoate_lien_date_yyyy_mm_dd_sdat_field_209,record_key_owner_occupancy_code_mdp_field_ooi_sdat_field_6,...,sales_segment_3_grantor_name_sdat_field_120,legal_description_line_3_mdp_field_legal3_sdat_field_19,special_dates_and_data_non_perc_area_unit_mdp_field_nprcluom_sdat_field_220,sales_segment_1_grantor_deed_reference_1_clerk_initials_mdp_field_gr1clrk1_sdat_field_81,mdp_street_address_units_mdp_field_strtunt,premise_address_number_suffix_sdat_field_21,special_dates_and_data_critical_area_code_mdp_field_crtarcod_sdat_field_223,sales_segment_2_grantor_deed_reference_1_clerk_initials_sdat_field_101,record_key_subdistrict_sdat_field_4,special_dates_and_data_agr_land_pres_fdn_area_unit_mdp_field_agfndluom_sdat_field_214
0,Residential (R),0,00016905,Blank (000),2023.07.31,0,0,02,0000.00.00,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Residential (R),0,NaN,Blank (000),2023.07.29,0,0,NaN,0000.00.00,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Commercial (C),0,03297617,Blank (000),2023.10.20,0,0,04,0000.00.00,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Residential Condominium (U),0,03501818,Blank (000),2023.07.29,0,0,02,0000.00.00,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Residential (R),0,00019236,Blank (000),2023.07.29,0,0,02,0000.00.00,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
results_df.shape

(35228, 209)

In [13]:
results_df.columns

Index(['land_use_code_mdp_field_lu_desclu_sdat_field_50',
       'new_construction_data_county_assessment_credit_sdat_field_192',
       'parent_account_number_account_number_sdat_field_388',
       'additional_c_a_m_a_data_dwelling_construction_code_mdp_field_strucnst_sdat_field_263',
       'last_activity_date_yyyy_mm_dd_sdat_field_392',
       'base_cycle_data_improvements_value_sdat_field_155',
       'base_cycle_data_preferential_land_value_sdat_field_156',
       'parent_account_number_district_ward_sdat_field_387',
       'special_dates_and_data_inchoate_lien_date_yyyy_mm_dd_sdat_field_209',
       'record_key_owner_occupancy_code_mdp_field_ooi_sdat_field_6',
       ...
       'sales_segment_3_grantor_name_sdat_field_120',
       'legal_description_line_3_mdp_field_legal3_sdat_field_19',
       'special_dates_and_data_non_perc_area_unit_mdp_field_nprcluom_sdat_field_220',
       'sales_segment_1_grantor_deed_reference_1_clerk_initials_mdp_field_gr1clrk1_sdat_field_81',
       'mdp_street_address_units_mdp_field_strtunt',
       'premise_address_number_suffix_sdat_field_21',
       'special_dates_and_data_critical_area_code_mdp_field_crtarcod_sdat_field_223',
       'sales_segment_2_grantor_deed_reference_1_clerk_initials_sdat_field_101',
       'record_key_subdistrict_sdat_field_4',
       'special_dates_and_data_agr_land_pres_fdn_area_unit_mdp_field_agfndluom_sdat_field_214'],
      dtype='object', length=209)

In [15]:
print(results_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35228 entries, 0 to 35227
Columns: 209 entries, land_use_code_mdp_field_lu_desclu_sdat_field_50 to special_dates_and_data_agr_land_pres_fdn_area_unit_mdp_field_agfndluom_sdat_field_214
dtypes: object(209)
memory usage: 56.2+ MB
None

In [20]:
df_raw=results_df.copy()

In [18]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35228 entries, 0 to 35227
Columns: 209 entries, land_use_code_mdp_field_lu_desclu_sdat_field_50 to special_dates_and_data_agr_land_pres_fdn_area_unit_mdp_field_agfndluom_sdat_field_214
dtypes: object(209)
memory usage: 56.2+ MB

In [19]:
df_cleaned.shape

(35228, 209)

In [22]:

# Initialize an empty list to hold the names of columns to drop
columns_to_drop = []

# Loop through each column in the DataFrame
for column in df_raw.columns:
    # Calculate the percentage of NaN values in the current column
    percent_missing = df_raw[column].isnull().mean() * 100

    # If more than 70% of the values in the column are NaN, add it to the list
    if percent_missing > 70:
        columns_to_drop.append(column)

# Create a new DataFrame with just the columns to drop
reject_table = df_raw[columns_to_drop]

# Drop these columns from the original DataFrame
df_cleaned = df_raw.drop(columns=columns_to_drop)

# 'df_cleaned' is now your DataFrame without the columns where more than 70% of the values are NaN
# 'reject_table' contains the columns that were removed.

In [23]:
df_cleaned.shape

(35228, 195)

In [24]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35228 entries, 0 to 35227
Columns: 195 entries, land_use_code_mdp_field_lu_desclu_sdat_field_50 to sales_segment_3_grantor_name_sdat_field_120
dtypes: object(195)
memory usage: 52.4+ MB